/*
 *  JogoDaVelhaJS
 *  CONTRIBUITORS:
 *  -> Max Lucio Martins de Assis (GitHub - MaxLucio528)
 * 
 *  PURPOSE: This project is a simple website that has the famous "Jogo da Velha" implemented
 *  with JavaScript, it comes with a Dark Mode as well to play at night. It's compatible with
 *  (probably) any web browser.
 */

body{
    margin: 0px;
    padding: 0px;
    background-color: ghostwhite;
    font-family: Arial, Verdana, sans-serif;
}

h1{
    text-align: center;
}

/* Adjusting the text on the page to be justified em have 10% of margin. */
p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

/* This paragraph is actually a button used with JavaScript to change the page stylesheet. */
p#modotela{
    text-align: center;
    font-size: 20px;
}

/* Will show the game status when it starts. */
p#status{
    text-align: center;
    margin-top: 50px;
}

/* Will show the legal information about the website. */
p#foot{
    margin-top: 50px;
    text-align: center;
}

/*
 *  This button is reponsible for starting the match, he's adjusted to be placed
 *  at the center of the page.
 */
button#play{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 10px;
}

/*  
 *  The only link on the page redirects to Wikipedia, where the description of the 
 *  game was obtained. 
 */
a{
    color: navy;
    text-decoration: none;
}

a:hover{
    color: royalblue;
}

/* Formatting the table to have nine squares, where X and O will be put by the players. */
table{
    border: 4px solid black;
    border-collapse: collapse;
    font-size: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

table td{
    border: solid black;
    padding: 45px;
}
